/*clear out our default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    width: 100%;
    font-family: 'Fira Code', monospace;
    font-size: 18px;
  }
  
  body {
    overflow: hidden;
    background-color: #6686D1;
  }
  
  header {
    text-align: center;
    background-color: #66BBD1;
    border-bottom: 1px #66D1B1 solid;
  }
  
  header h1{
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  #main-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #calculator-grid {
    margin-top: 5rem;
    display: grid; /* display grid by default */
    width: 22rem;
    height: 32rem;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: #D17C66;
    border: 2px black solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    padding: 1rem;
    font-size: 2rem;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #66BBD1;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    border: 1px black solid;
    border-bottom: 3px black solid;
  }
  
  .button:not(#screen-disp):hover {
    background-color: #3FAAC5;
    cursor: pointer;
  }
  
  .button:not(#screen-disp):active {
    background-color: #3FAAC5;
    transform: translateY(1px);
    border-bottom: 1px black solid;
  }
  /*
  #screen-disp {
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    justify-content: end;
    padding: 1rem;
    padding-top: 1.5rem;
    font-size: 2rem;
    text-shadow: none;
    font-weight: lighter;
    background-color: #C0C0C0;
    color: black;
    border-bottom: 1px black solid;
    border: 2px black solid;
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;

    vertical-align: bottom;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  */

  .screen {
    font-family: 'Orbitron', sans-serif;
    text-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    background-color: #C0C0C0;
    color: black;
    border-bottom: 1px black solid;
    border: 2px black solid;
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }

  #current-display {
    font-size: 2rem;
    padding-top: 2rem;
    position: absolute;
  } 
  
  #hist-display {
    font-size: 1rem;
  }

  .button:nth-child(2) {
    grid-row: 3;
    grid-column: 1 / span 2;
  }
  
  .button:nth-child(3) {
    grid-row: 3;
    grid-column: 3 / span 2;
  }
  
  .button:nth-child(22) {
    grid-row: 7 / span 2;
    grid-column: 4;
  }
  
  /* On screens that are 750px or less */
  @media screen and (max-width: 750px) {
    #calculator-grid {
      width: 18rem;
      height: 28rem;
      font-size: 1.5rem;
      margin-top: 4rem;
      padding: .75rem;
    }
  
    #screen-disp {
      font-size: 1.5rem;
      padding: .75rem;
      padding-top: 2rem;
    }
  }
  
  /* On screens that are 600px or less */
  @media screen and (max-width: 500px) {
    #calculator-grid {
      width: 15rem;
      height: 25rem;
      font-size: 1.5rem;
      gap: .5rem;
      margin-top: 3rem;
      padding: .5rem;
    }
  
    #screen-disp {
      font-size: 1.5rem;
      padding: .5rem;
      padding-top: 2rem;
    }
  
    .button {
      padding: 0;
    }
  }